pandas
mlflow==2.2.2
notebook
numpy
scikit-learn
matplotlib
python-box==6.0.2 #to create box exceptions - we will create the exception file separately
pyYAML
tqdm
ensure==1.0.2
joblib
types-pyYAML
Flask #for web app
Flask-Cors

-e .